body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 0px;
}

ol, ul {
    padding-left: 30px;
}

/*.board-row:after {
  clear: both;
  content: "";
  display: table;
  position: relative;
  display: inline-block;
}*/

.board-row1 {
    position: relative;
    display: inline-block;
    padding-right: 15px;
}

.board-row2 {
    position: relative;
    display: inline-block;
    padding-right: 15px;
    top: 100%;
}


.team1-players {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 8px;
    font-weight: bold;
    height: 40px;
    width: 40px;
    margin-left: 7.5%;
    margin-right: 3.5%;
    margin-top: 5%;
    background-color: #f96363;
    border-color: black;
    border-radius: 50%;
    position:relative;
}

.team2-players {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 8px;
    font-weight: bold;
    height: 40px;
    width: 40px;
    margin-left: 7.5%;
    margin-right: 3.5%;
    margin-top: 5%;
    background-color: #70a7ef;
    border-color: black;
    border-radius: 50%;
    position:relative;
}

#star-player{
    float: left;
    font-size: 9px;
    font-weight: bold;
    position:relative;
    margin-top: 3%;
    margin-left: 12px;
    margin-right: 8px;
}

#star-player img{
    position:relative;
    left:10%;
}

#trash-player{
    float: left;
    font-size: 9px;
    font-weight: bold;
    position:relative;
    margin-top: 3%;
    margin-left: 12px;
    margin-right: 8px;
}

#trash-player img{
    position:relative;
    left:10%;
}

.playerName{
    position:absolute;
    top:110%;
    left:-5%;
    font-size: 11px;
    text-align: left;
    overflow: hidden;    
    text-overflow: ellipsis;   
    width: 72px;
}

.playerName1{
    position:absolute;
    top:95%;
    left:-5%;
    font-size: 12px;
    overflow: hidden;    
    text-overflow: ellipsis;    
    width: 75px;
}


#team-row-id-0{
    position:absolute;
    left:43%;
    top:2%;
    width: 20%;
}

#team-row-id-1{
    position:absolute;
    left:5%;
    top:10%;
    width: 90%;
}

#team-row-id-2{
    position:absolute;
    left:10%;
    top:22%;
    width: 85%;
}

#team-row-id-3{
    position:absolute;
    left:10%;
    top:34%;
    width: 85%;
}

#team-row-id-4{
    position:absolute;
    left:10%;
    top:51%;
    width: 85%;
}

#team-row-id-5{
    position:absolute;
    left:10%;
    top:63%;
    width: 85%;
}

#team-row-id-6{
    position:absolute;
    left:5%;
    top:75%;
    width: 90%;
}

#team-row-id-7{
    position:absolute;
    left:43%;
    top:88%;
    width: 30%;
}

button .eventGoal{
    position:absolute;
    top:-10%;
    left:-15%;  
}

button .eventOwnGoal{
    position:absolute;
    top:28%;
    left:-28%;  
}

button .eventSub{
    position:absolute;
    top:70%;
    left:-15%;  
}

button .eventYellowCard{
    position:absolute;
    top:-10%;
    left:70%;  
}

button .eventRedCard{
    position:absolute;
    top:-10%;
    left:70%;  
    z-index:2;
}

#star-player .eventGoal{
    position:absolute;
    top:0%;
    left:14%;  
}

#star-player .eventOwnGoal{
    position:absolute;
    top:30%;
    left:0%;  
}

#star-player .eventSub{
    position:absolute;
    top:62%;
    left:5%;  
}

#star-player .eventYellowCard{
    position:absolute;
    top:5%;
    left:65%;  
}

#star-player .eventRedCard{
    position:absolute;
    top:5%;
    left:65%;  
    z-index:2;
}


#trash-player .eventGoal{
    position:absolute;
    top:5%;
    left:0%;  
}

#trash-player .eventOwnGoal{
    position:absolute;
    top:35%;
    left:0%;  
}

#trash-player .eventSub{
    position:absolute;
    top:67%;
    left:5%;  
}

#trash-player .eventYellowCard{
    position:absolute;
    top:5%;
    left:70%;  
}

#trash-player .eventRedCard{
    position:absolute;
    top:5%;
    left:70%;  
    z-index:2;
}








.square2 {
    background: #FF0000;
    border: 1px solid #999;
    float: left;
    font-size: 9px;
    font-weight: bold;
    line-height: 8px;
    height: 25px;
    width: 25px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    background-color: #FFFEFF;
    border-radius: 50%;
    position:absolute;
    top: 40%;
    left:75%;
    border-color: black;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.square.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
}


.game-board {
    position:absolute;
    height: 105%;
    text-align: center;
    width: 100%;
    top:20%;
    background-image: url("Capture.png");
    background-size: 100% 100%;
    background-repeat: no-repeat, repeat;
}

game-board-players {
    display: inline-block;
    text-align: center;

}


.average {
    font-size: 13px;
    position: absolute;
    top: 35%;
    left: 22%;
    text-align: center;
}

.average1 {
    font-size: 13px;
    position: absolute;
    top: 35%;
    left: 36%;
    text-align: center;
}

button#1.team1-players {
    position: absolute;

    left: 100%;
}

.form-check{
    float:left;
    position:relative;
}


.container {
    display: inline-block;
    position: relative;
    padding-left: 15px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: bold;

}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;  

}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: -47%;
    height: 20px;
    width: 19px;
    background-color: #eee;
    border-radius: 50%;
    transform: translate(110%,-100%);
    border: 0.5px solid black;
}

#checkmark10{
    transform: translate(130%,-100%) !important;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {

    position: absolute;
    display: none;

}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.playerInfo h1{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 3em;
}

@media only screen and (min-width: 650px) {
    .container {
        margin: 0 auto;
    }
}

.h3Custom{
    margin: 7% auto;
    font-size: 1.6em;
    margin-bottom: 5%;
}

.gameOver-board, .preGame-board {
    position:absolute;
    height: 105%;
    text-align: center;
    width: 100%;
    background-image: url("Capture.png");
    /*background-color: #0D2031;*/
    background-size: 100% 100%;
    background-repeat: no-repeat, repeat;
}

.preGameText, .gameOverInfo, #ratingResults, .preGameFacts{
    width:80%;
    text-align: center;
    font-size: 0.85em;
    position:absolute;
    top:2%;
    background-color: #ddd;
    opacity:0.9;
    border-radius: 10%;
    border: 2px solid black;
    left:10%;
}
.gameOverInfo{
    height: 15%;
}
.gameOverInfo > h1:nth-child(1){
    margin:3% auto;
}


.gameOverText{
    font-size: 1.7em;
    display: grid;
    grid-template-columns: 1fr 0.4fr 1fr;
}

div.gameOverText:nth-child(2) > div:nth-child(1), div.gameOverText:nth-child(3) > div:nth-child(1){
    text-align: right;
}

div.gameOverText:nth-child(3) > div:nth-child(3), div.gameOverText:nth-child(2) > div:nth-child(3){
    text-align: left;
}
.gameOverText h1{
    margin-bottom: 2%;
}




.preGameText{
    top:19%;
}

/*.gameOver-board, .preGame-board button{
    padding-bottom: 10px;
    width:50%;
    margin-bottom: 10px;
    font-size:1em;
}*/

.preGameText img{
    width: 30%;
    height: 100px;
    position: relative;
    left: 5%;
    margin-top: -30%;
    margin-left: 8%;
    margin-right: 12%;
    opacity: 0.3;
}


#preGameTeamNames{
    margin-top: 15%;
}

#preGameLocation{
    margin-bottom: 1%;
    margin-top:-5%;
}

#preGameCompetition{
    margin:0;
}



.homeNameDisplay {
    position: absolute;
    top:-2.4%;
    left: 4%;
    height: 2.5%;
    width: 40%;
    text-align: left;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

.homeFormationDisplay {
    position: absolute;
    top:-2.4%;
    left: 55%;
    height: 2.5%;
    width: 40%;
    text-align: right;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

.awayNameDisplay {
    position: absolute;
    top:95.2%;
    left: 55%;
    height: 2.5%;
    width: 40%;
    text-align: right;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

.awayFormationDisplay {
    position: absolute;
    top:95.2%;
    left: 4%;
    height: 2.5%;
    width: 40%;
    text-align: left;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

.displayInfo {
    color: white;
}

.preGameLogo{
    width: 80%;
    text-align: center;
    font-size: 1em;
    position: absolute;
    top: 4%;
    background-color: #ddd;
    opacity: 0.9;
    border-radius: 15%;
    border: 2px solid black;
    left: 10%;
    height:14%;
}


.eventSub{
    position:relative;
}


.preGameLogo img{
    width: 30%;
    height: 90%;
    position: relative;
    float: left;
    padding: 2%;
    border-radius: 20%;
}

.preGameLogo h2{
    font-size: 2.5em;
    text-align: start;
    margin: 0;
    margin-left: 37%;
}

.preGameFacts{
   top:59%;
}

#ratingResults{
    top: 19%;
    height: 65%;
    overflow: auto;
    border-radius: 2%;
    width: 90%;
    left: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

#ratingResults > ul{
    text-align: initial;
    padding-left:1%;
    margin: 1%;
}

#ratingResults ul li{
    width:100%;
    display:flex;
    margin: inherit;
    border: 0.1px solid black;
    border-radius: 5%;
    width: 97%;
}

#ratingResults ul li img{
    width:30%;
    float:left;
    clear:both;
}

#ratingResults > ul > li > p{
    margin: 0;
    font-weight: bold;
    font-size: 1.4em;
    margin-left: 5%;
}

.ratingConfirmMessage{
    display:none;
    margin-top: -2%;
    font-size: 2em;
    margin-bottom: 1%;
    color: #00FF60;
    position: absolute;
    top: 16%;
    margin-left: 3%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.btn-continue.horizTranslate {
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
  margin-left: 50% !important;
}

.btn-continue.puff-out-center {
	-webkit-animation: puff-out-center 0.8s both;
	        animation: puff-out-center 0.8s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-4-11 12:7:13
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-out-center
 * ----------------------------------------
 */
@-webkit-keyframes puff-out-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(2px);
            filter: blur(2px);
    opacity: 0;
  }
}
@keyframes puff-out-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(2px);
            filter: blur(2px);
    opacity: 0;
  }
}

.ratingConfirmMessage.puff-in-center {
	-webkit-animation: puff-in-center 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) 1 alternate both;
	        animation: puff-in-center 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) 1 alternate both;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-4-11 12:22:35
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(2px);
            filter: blur(2px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(2px);
            filter: blur(2px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


.eventGoal > img, .eventYellowCard > img, .eventRedCard > img, .eventOwnGoal > img, .eventSub > img{
    WIDTH:16PX;
}

.eventSub > img{
    transform: rotate(210deg);
}




/*iphone5*/
@media only screen and (max-width: 320px){
    .preGameLogo{
        top:1%;
    }
    
    .preGameText{
        top:18%;
    }
    .preGameLogo h2 {
        font-size: 2em;
    }
    
    #preGameTeamNames{
        font-size: 1.8em;
    }
    
    .gameOverText {
        font-size: 1.5em;
    }
    
    .preGameFacts{
        top:74%;
    }


}




/*iphone 9*/
@media only screen and (min-width:360px) and (min-height: 700px){
    .preGameFacts {
        top: 54%;
    }
}


/*phone 678plus*/
@media only screen and (min-width:375px){
    .preGameFacts {
        top: 58%;
    }
}

#team-row-id-2 .team1-players {
    margin-right:15px;
    margin-left: 30px;
}

#team-row-id-3 .team1-players {
    margin-right:15px;
    margin-left: 30px;
}

#team-row-id-4 .team2-players {
    margin-right:15px;
    margin-left: 30px;
}

#team-row-id-5 .team2-players {
    margin-right:15px;
    margin-left: 30px;
}

/*ipad*/
@media only screen and (min-width:640px){
    .preGameText {
        top: 17%;
        left: 15%;
        width: 70%;
    }
   
    .preGameLogo h2 {
        font-size: 1.5em;
        margin-top: 5%;
    }
    .preGameLogo img {
        width: 30%;
        height:85%;
    }
    
    .preGameLogo {
        width: 45%;
        font-size: 2em;
        top: 3%;
        left: 27.5%;
        height:12%;
    }
    
    .preGameText > h2:nth-child(1){
        font-size:2.5em;
    }
    #preGameTeamNames{
        font-size: 2.3em;
        margin-top: 6%;
    }
    #preGameLocation{
        margin-top:-4%;
    }
    
    .preGameFacts {
       top: 44%;
       width: 60%;
       left: 20%;
    }
}

/*kindle fire*/
@media only screen and (min-width:790px){
    .preGameFacts {
       top: 39%;

    }
}

/*PC*/
@media only screen and (min-width:1000px){
    #preGameTeamNames{
        font-size: 5em;
    }
    
    .preGameText h3{
        font-size:3em;
    }
    .preGameText {
        top: 24%;
    }
    
    .preGameText img{
        height:200px;
        margin-right: 6%;
        margin-left: 0%;
    }
    #preGameTeamNames{
        font-size: 5em;
    }
    .preGameLogo h2 {
        font-size: 2.7em;
        margin-top: 1%;
    }

    .preGameLogo img {
        width: 38%;
        height: 85%;
    }
    .preGameLogo {
        font-size: 2em;
        left: 27.5%;
        height: 19%;
    }
    
    .preGameFacts{
        top:70%;
    }
    

}
