body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 0px;
}

ol, ul {
    padding-left: 30px;
}

/*.board-row:after {
  clear: both;
  content: "";
  display: table;
  position: relative;
  display: inline-block;
}*/

.board-row1 {
    position: relative;
    display: inline-block;
    padding-right: 15px;
}

.board-row2 {
    position: relative;
    display: inline-block;
    padding-right: 15px;
    top: 100%;
}


.team1-players {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 8px;
    font-weight: bold;
    height: 40px;
    width: 40px;
    margin-left: 7.5%;
    margin-right: 3.5%;
    margin-top: 5%;
    background-color: #f96363;
    border-color: black;
    border-radius: 50%;
    position:relative;
}

.team2-players {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 8px;
    font-weight: bold;
    height: 40px;
    width: 40px;
    margin-left: 7.5%;
    margin-right: 3.5%;
    margin-top: 5%;
    background-color: #70a7ef;
    border-color: black;
    border-radius: 50%;
    position:relative;
}

#star-player{
    float: left;
    font-size: 9px;
    font-weight: bold;
    position:relative;
    margin-top: 3%;
    margin-left: 8px;
    margin-right: 8px;
}

#star-player img{
    position:relative;
    left:10%;
}

#trash-player{
    float: left;
    font-size: 9px;
    font-weight: bold;
    position:relative;
    margin-top: 3%;
    margin-left: 6px;
    margin-right: 6px;
}

#trash-player img{
    position:relative;
    left:10%;
}

.playerName{
    position:absolute;
    top:110%;
    left:-5%;
    font-size: 11px;
    text-align: left;
    overflow: hidden;    
    text-overflow: ellipsis;   
    width: 72px;
}

.playerName1{
    position:absolute;
    top:95%;
    left:-5%;
    font-size: 12px;
    overflow: hidden;    
    text-overflow: ellipsis;    
    width: 75px;
}


#team-row-id-0{
    position:absolute;
    left:43%;
    top:2%;
    width: 20%;
}

#team-row-id-1{
    position:absolute;
    left:5%;
    top:10%;
    width: 90%;
}

#team-row-id-2{
    position:absolute;
    left:20%;
    top:22%;
    width: 75%;
}

#team-row-id-3{
    position:absolute;
    left:20%;
    top:34%;
    width: 75%;
}

#team-row-id-4{
    position:absolute;
    left:20%;
    top:51%;
    width: 75%;
}

#team-row-id-5{
    position:absolute;
    left:20%;
    top:63%;
    width: 75%;
}

#team-row-id-6{
    position:absolute;
    left:5%;
    top:75%;
    width: 90%;
}

#team-row-id-7{
    position:absolute;
    left:43%;
    top:88%;
    width: 30%;
}

.square2 {
    background: #FF0000;
    border: 1px solid #999;
    float: left;
    font-size: 9px;
    font-weight: bold;
    line-height: 8px;
    height: 25px;
    width: 25px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    background-color: #FFFEFF;
    border-radius: 50%;
    position:absolute;
    top: 40%;
    left:75%;
    border-color: black;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.square.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
}


.game-board {
    position:absolute;
    height: 105%;
    text-align: center;
    width: 100%;
    top:20%;
    background-image: url("Capture.png");
    background-size: 100% 100%;
    background-repeat: no-repeat, repeat;
}

game-board-players {
    display: inline-block;
    text-align: center;

}


.average {
    font-size: 13px;
    position: absolute;
    top: 35%;
    left: 22%;
    text-align: center;
}

.average1 {
    font-size: 13px;
    position: absolute;
    top: 35%;
    left: 36%;
    text-align: center;
}

button#1.team1-players {
    position: absolute;

    left: 100%;
}

.form-check{
    float:left;
    position:relative;
}


.container {
    display: inline-block;
    position: relative;
    padding-left: 15px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: bold;

}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;  

}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: -47%;
    height: 20px;
    width: 19px;
    background-color: #eee;
    border-radius: 50%;
    transform: translate(110%,-100%);
    border: 0.5px solid black;
}

#checkmark10{
    transform: translate(130%,-100%) !important;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {

    position: absolute;
    display: none;

}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.playerInfo h1{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 3em;
}

@media only screen and (min-width: 650px) {
    .container {
        margin: 0 auto;
    }
}

.h3Custom{
    margin: 7% auto;
    font-size: 1.6em;
    margin-bottom: 5%;
}

.gameOver-board, .preGame-board {
    position:absolute;
    height: 105%;
    text-align: center;
    width: 100%;
    background-image: url("Capture.png");
    /*background-color: #0D2031;*/
    background-size: 100% 100%;
    background-repeat: no-repeat, repeat;
}


.gameOverText, .preGameText{
    width:80%;
    text-align: center;
    font-size: 1em;
    position:absolute;
    top:25%;
    background-color: #ddd;
    opacity:0.9;
    border-radius: 10%;
    border: 2px solid black;
    left:10%;
}

.preGameText{
    top:20%;
}

/*.gameOver-board, .preGame-board button{
    padding-bottom: 10px;
    width:50%;
    margin-bottom: 10px;
    font-size:1em;
}*/

.preGameText img{
    width: 30%;
    height: 100px;
    position: relative;
    left: 5%;
    margin-top: -30%;
    margin-left: 8%;
    margin-right: 12%;
    opacity: 0.3;
}


#preGameTeamNames{
    margin-top: 15%;
}

#preGameLocation{
    margin-bottom: 1%;
}

#preGameCompetition{
    margin:0;
}


.homeNameDisplay {
    position: absolute;
    top:-2.4%;
    left: 4%;
    height: 2.5%;
    width: 40%;
    text-align: left;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

.homeFormationDisplay {
    position: absolute;
    top:-2.4%;
    left: 55%;
    height: 2.5%;
    width: 40%;
    text-align: right;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

.awayNameDisplay {
    position: absolute;
    top:95.2%;
    left: 55%;
    height: 2.5%;
    width: 40%;
    text-align: right;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

.awayFormationDisplay {
    position: absolute;
    top:95.2%;
    left: 4%;
    height: 2.5%;
    width: 40%;
    text-align: left;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

.displayInfo {
    color: white;
}

.preGameLogo{
    width: 80%;
    text-align: center;
    font-size: 1em;
    position: absolute;
    top: 4%;
    background-color: #ddd;
    opacity: 0.9;
    border-radius: 15%;
    border: 2px solid black;
    left: 10%;
}

.preGameLogo img{
    width: 30%;
    height: 50%;
    position: relative;
    float: left;
    padding: 2%;
    border-radius: 20%;
}

.preGameLogo h2{
    font-size: 2.5em;
    text-align: start;
    margin: 0;
    margin-left: 37%;
}


/*iphone5*/
@media only screen and (max-width: 320px){
    .preGameLogo{
        top:1%;
    }
    
    .preGameText{
        top:22%;
    }
}


/*ipad*/
@media only screen and (min-width:640px){
    .preGameText {
        top: 30%;
        left: 25%;
        width: 50%;
    }
   
    .preGameLogo h2 {
        font-size: 2.5em;
        margin-top: 5%;
    }
    .preGameLogo img {
        width: 40%;
    }
    
    .preGameLogo {
        width: 70%;
        font-size: 2em;
        top: 8%;
        left: 15%;
    }
}



/*phone 678plus*/
@media only screen and (min-width:414px){

}
