#overlay{
    	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #1f233d;
	opacity: 0.8;
	z-index:1001;
}


#overlay-content{ 
	position: absolute;
	display: none;
	width: 80%;
	height: 70%;
	padding: 16px;
        margin-bottom: 2%;
	border: 5px solid #1f233d;
	background-color: white;
	z-index:1002;
        
}

.game {
    display: flex;
    left: 0%;
    text-align: center;
}

.player p {
    position: relative;
    top: -20%;
}
p {
    font-weight: bold;
}

.subs {
    position: absolute;
    background-color: #ccffcc;
    text-align: left;
    width: 100%;
    left: 0%;
    top: 145%;

}

.managers {
    position: absolute;
    background-color: 	#ccffcc;
    text-align: left;
    width: 100%;
    left: 0%;
    top: 160%;

}


#team-info{
    font: 12px "Century Gothic", Futura, sans-serif;
    position:absolute;
    top:125%;
    width:100%;
    text-align:left;
}

#team1-info{
    position:absolute;
    text-align:left;
    width:50%;
    background-color: #0D2031
}

#team1-info h3 {
    color: white;
    text-align: left;
    margin-left: 10px;
}

#team1-info ul {
    color: white;
    text-align: left;
    margin-left:-20px;
    font-size: 12px;
}

#team2-info{
    position:absolute;
    text-align:left;
    width:50%;
    left:50%;
    background-color: #0D2031;
}

#team2-info h3 {
    color: white;
    text-align: right;
    margin-right: 10px;

}

#team2-info ul {
    color: white;
    text-align: right;
    margin-right: 20px;
}

.home {
    position: absolute;
    width: 40%;
    height: 100%;
    text-align: center;
}

.home img {
    position: absolute;
    width: 35%;
    height: 35%;
    top: 25%;
    left: 5%;
}

.home p {
    position: absolute;
    left: 47%;
    top: 20%;
    font-family: serif;
    font-weight: bold;
    color: white;
    font-size: 18px;
}

.away {
    position: absolute;
    width: 40%;
    height: 100%;
    left: 60%;
    text-align: left;
    
}

.away img {
    position: absolute;
    width: 35%;
    height: 35%;
    top: 25%;
    left: 60%;
}

.away p {
    position: absolute;
    top: 20%;
    font-family: serif;
    font-weight: bold;
    color: white;
    font-size: 18px;
}

.gameInfo {
    position: absolute;
    background-color: #0D2031;
    width: 100%;
    top: 0%;
    left: 0%;
    height: 20%;
    color: white;
}

.info {
    position: absolute;
    width: 20%;
    height: 100%;
    left: 40%;
    text-align: center;
    color: white;
}

.info h1 {
    position: relative;
    top:15%;
}

.info p {
    position: relative;
    top: 0%;
    font-weight: bold;

}

.teamName1 {
    position: absolute;
    height: 3%;
    width: 45%;
    left: 1%;
}

.teamName1 p {
    position: absolute;
    color: white;
    top: -80%;
    left: 5%;
}

.formation1 {
    position: absolute;
    height: 3%;
    width: 25%;
    left: 75%;
}

.formation1 p {
    position: absolute;
    color: white;
    top: -80%;
    left: 50%;
}

.teamName2 {
    position: absolute;
    height: 3%;
    width: 45%;
    top: 97.5%;
    left: 1%;
}

.teamName2 p {
    position: absolute;
    color: white;
    top: -80%;
    left: 5%;
}

.formation2 {
    position: absolute;
    height: 3%;
    width: 25%;
    top: 97.5%;
    left: 75%;
}

.formation2 p {
    position: absolute;
    color: white;
    top: -80%;
    left: 50%;
}
#plImg{
    width:50%;
    height:80%;
    border-radius: 20%;
    float:left;
}
ul{
    list-style: none;
}
.left{
    margin-left: 20%;
    width: 50%; 
}
.right{
    width: 35%;
    float: right;

}



 
  
